In [ ]:
# CREACIÓN DE LA BASE DE DATOS

In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [ ]:
# DEFINIR FUNCION CREAR TABLA

In [3]:
def create_table(psw,query):

    cnx = mysql.connector.connect(user='root', password= psw, host='127.0.0.1', database= 'mi_primerita_BBDD_Python')
                              
    mycursor= cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)

    except mysql.connector.Error as err:
        print(err)
        print("error code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("message", err.msg)

In [4]:
query_zapatillas= '''CREATE TABLE zapatillas(
id_zapatilla INT AUTO_INCREMENT NOT NULL,
modelo VARCHAR (45) NOT NULL,
color VARCHAR (45) NOT NULL,
PRIMARY KEY (id_zapatilla)
)'''

In [5]:
query_clientes= ''' CREATE TABLE clientes(
 id_cliente INT AUTO_INCREMENT NOT NULL,
 nombre VARCHAR (45) NOT NULL,
 numero_telefono INT (9) NOT NULL, 
 email VARCHAR (45) NOT NULL,
 direccion VARCHAR (45) NOT NULL,
 ciudad VARCHAR (45) NULL,
 provincia VARCHAR (45) NOT NULL,
 pais VARCHAR (45) NOT NULL,
 codigo_postal VARCHAR (45) NOT NULL,
 PRIMARY KEY (id_cliente)
)'''

In [8]:
query_empleados= '''CREATE TABLE empleados(
id_empleado INT AUTO_INCREMENT NOT NULL,
nombre VARCHAR (45) NOT NULL,
tienda VARCHAR (45) NOT NULL,
salario INT NULL,
fecha_incorporacion DATE NOT NULL,
PRIMARY KEY (id_empleado)
)'''

In [16]:
query_facturas= '''CREATE TABLE IF NOT EXISTS facturas(
id_factura INT AUTO_INCREMENT NOT NULL,
numero_factura VARCHAR (45) NOT NULL,
fecha DATE NOT NULL,
id_zapatilla INT NOT NULL,
id_empleado INT NOT NULL,
id_cliente INT NOT NULL,
PRIMARY KEY (id_factura),
CONSTRAINT fk_facturas_zapatillas
	FOREIGN KEY (id_zapatilla)
	REFERENCES zapatillas (id_zapatilla),
CONSTRAINT fk_facturas_empleados
	FOREIGN KEY (id_empleado)
    REFERENCES empleados (id_empleado),
CONSTRAINT fk_facturas_clientes
	FOREIGN KEY (id_cliente)
    REFERENCES clientes (id_cliente))'''

In [10]:
create_table ("AlumnaAdalab",query_zapatillas)

CMySQLCursor: CREATE TABLE zapatillas(
id_zapatilla IN..

In [11]:
create_table ("AlumnaAdalab", query_clientes)

CMySQLCursor:  CREATE TABLE clientes(
 id_cliente INT ..

In [17]:
create_table ("AlumnaAdalab",query_empleados)

1050 (42S01): Table 'empleados' already exists
error code: 1050
SQLSTATE 42S01
message Table 'empleados' already exists

In [18]:
create_table ("AlumnaAdalab",query_facturas)

CMySQLCursor: CREATE TABLE IF NOT EXISTS facturas(
id_..

In [33]:
#CREACIÓN FUNCIÓN ALTER TABLE

In [22]:
def alter_table (psw, query):

    cnx = mysql.connector.connect(user='root', password= psw,
                                host='127.0.0.1', database='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [25]:
query1= '''ALTER TABLE `zapatillas`
ADD COLUMN marca VARCHAR (45) NOT NULL,
ADD COLUMN talla INT NOT NULL;'''

query2= '''ALTER TABLE `empleados`
MODIFY COLUMN salario FLOAT;'''

query3= '''ALTER TABLE `clientes`
DROP COLUMN pais;'''

query4= '''ALTER TABLE `clientes`
MODIFY COLUMN codigo_postal INT (5);'''

query5= '''ALTER TABLE `facturas`
ADD COLUMN total_factura FLOAT;'''

In [26]:
alter_table ('AlumnaAdalab', query1)

CMySQLCursor: ALTER TABLE `zapatillas`
ADD COLUMN marc..

In [27]:
alter_table ('AlumnaAdalab', query2)

CMySQLCursor: ALTER TABLE `empleados`
MODIFY COLUMN sa..

In [28]:
alter_table ('AlumnaAdalab', query3)

CMySQLCursor: ALTER TABLE `clientes`
DROP COLUMN pais;

In [29]:
alter_table ('AlumnaAdalab', query4)

CMySQLCursor: ALTER TABLE `clientes`
MODIFY COLUMN cod..

In [30]:
alter_table ('AlumnaAdalab', query5)

CMySQLCursor: ALTER TABLE `facturas`
ADD COLUMN total_..