In [1]:
import mysql.connector

In [ ]:
#1.
#Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. 
# ¿Qué BBDD tenemos en nuestro servidor?

In [4]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='tienda'
)

mycursor = mydb.cursor()



mycursor.execute("SHOW DATABASES")

for i in mycursor:
    print(i)


mydb.close()

('bbdd_nba',)
('creacion_tienda',)
('ejercicio_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('project1',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('world',)
('zalando',)

In [ ]:
# 2.
# Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? 
# Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. 
# Guarda el resultado de los nombres de la tablas en una lista.

In [7]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)


mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")
lista_tablas = []
for i in mycursor:
    lista_tablas.append(i)

print(lista_tablas)

[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',), ('territories',)]

In [16]:
# PENDIENTE PARA SACAR UNA LISTA DE STRINGS DE LA LISTA DE TUBLAS

lista_lista = []
for z in (len(lista_tablas)):
    lista_lista.append(lista_tablas [z][0])
lista_lista

TypeError: list indices must be integers or slices, not tuple

In [11]:
lista_tablas[0][0]

'categories'

In [ ]:
# 3. .
# ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el 
# resultado de todas las columnas.

In [18]:
lista_tablas_str = ['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']
mycursor = mydb.cursor()
query = 'SELECT * FROM COLUMNS WHERE TABLE_NAME = %s'
for i in lista_tablas_str:
    mycursor.execute(query,i)
print(i)

TypeError: execute() takes from 2 to 4 positional arguments but 12 were given

In [20]:
mycursor = mydb.cursor()
query1 = 'SELECT * FROM COLUMNS WHERE TABLE_NAME = categories'
query2 = 'SELECT * FROM COLUMNS WHERE TABLE_NAME = customer_customer_demo'
query3 = 'SELECT * FROM COLUMNS WHERE TABLE_NAME = customer_demographics'
print(query1,query2,query3)

SELECT * FROM COLUMNS WHERE TABLE_NAME = categories SELECT * FROM COLUMNS WHERE TABLE_NAME = customer_customer_demo SELECT * FROM COLUMNS WHERE TABLE_NAME = customer_demographics

In [24]:
#ALEJANDRO

mycursor = mydb.cursor()
query = 'SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = northwind'
mycursor.execute(query, mycursor)

ProgrammingError: Could not process parameters: MySQLCursor(MySQLCursor: (Nothing executed yet)), it must be of type list, tuple or dict

In [ ]:
# 2.Hagamos unas queries facilitas:
# Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
# Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
# Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
# Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, MAX(unit_price * quantity) AS Cantidad_gastada FROM order_details GROUP BY order_idORDER BY Cantidad_gastada DESC LIMIT 2")

for i in lista_tablas:
    break
print(lista_tablas)