In [1]:
import mysql.connector

In [ ]:
#1.
#Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. 
# ¿Qué BBDD tenemos en nuestro servidor?

In [4]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='tienda'
)

mycursor = mydb.cursor()



mycursor.execute("SHOW DATABASES")

for i in mycursor:
    print(i)


mydb.close()

('bbdd_nba',)
('creacion_tienda',)
('ejercicio_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('project1',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('world',)
('zalando',)

In [ ]:
# 2.
# Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? 
# Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. 
# Guarda el resultado de los nombres de la tablas en una lista.

In [25]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)


mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")
lista_tablas = []
for i in mycursor:
    lista_tablas.append(i)

print(lista_tablas)

mycursor.close()

[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',), ('territories',)]

True

In [16]:
# PENDIENTE PARA SACAR UNA LISTA DE STRINGS DE LA LISTA DE TUBLAS

lista_lista = []
for z in (len(lista_tablas)):
    lista_lista.append(lista_tablas [z][0])
lista_lista

TypeError: list indices must be integers or slices, not tuple

In [11]:
lista_tablas[0][0]

'categories'

In [ ]:
# 3. .
# ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el 
# resultado de todas las columnas.

In [28]:
#ALEJANDRO
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='information_schema'
)
mycursor = mydb.cursor()
mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind'")

for x in mycursor:
    print(x)

mydb.close()

('categories', 'category_id')
('categories', 'category_name')
('categories', 'description')
('categories', 'picture')
('customer_customer_demo', 'customer_id')
('customer_customer_demo', 'customertype_id')
('customer_demographics', 'customer_type_id')
('customer_demographics', 'customer_desc')
('customers', 'customer_id')
('customers', 'company_name')
('customers', 'contact_name')
('customers', 'contact_title')
('customers', 'address')
('customers', 'city')
('customers', 'region')
('customers', 'postal_code')
('customers', 'country')
('customers', 'phone')
('customers', 'fax')
('employee_territories', 'employee_id')
('employee_territories', 'territory_id')
('employees', 'employee_id')
('employees', 'last_name')
('employees', 'first_name')
('employees', 'title')
('employees', 'title_of_courtesy')
('employees', 'birth_date')
('employees', 'hire_date')
('employees', 'address')
('employees', 'city')
('employees', 'region')
('employees', 'postal_code')
('employees', 'country')
('employees', 'home_phone')
('employees', 'extension')
('employees', 'photo')
('employees', 'notes')
('employees', 'reports_to')
('employees', 'photo_path')
('order_details', 'order_id')
('order_details', 'product_id')
('order_details', 'unit_price')
('order_details', 'quantity')
('order_details', 'discount')
('orders', 'order_id')
('orders', 'customer_id')
('orders', 'employee_id')
('orders', 'order_date')
('orders', 'required_date')
('orders', 'shipped_date')
('orders', 'ship_via')
('orders', 'freight')
('orders', 'ship_name')
('orders', 'ship_address')
('orders', 'ship_city')
('orders', 'ship_region')
('orders', 'ship_postal_code')
('orders', 'ship_country')
('products', 'product_id')
('products', 'product_name')
('products', 'supplier_id')
('products', 'category_id')
('products', 'quantity_per_unit')
('products', 'unit_price')
('products', 'units_in_stock')
('products', 'units_on_order')
('products', 'reorder_level')
('products', 'discontinued')
('region', 'region_id')
('region', 'region_description')
('shippers', 'shipper_id')
('shippers', 'company_name')
('shippers', 'phone')
('suppliers', 'supplier_id')
('suppliers', 'company_name')
('suppliers', 'contact_name')
('suppliers', 'contact_title')
('suppliers', 'adress')
('suppliers', 'city')
('suppliers', 'region')
('suppliers', 'postal_code')
('suppliers', 'country')
('suppliers', 'phone')
('suppliers', 'fax')
('suppliers', 'home_page')
('territories', 'territory_id')
('territories', 'territory_description')
('territories', 'region_id')

In [ ]:
# 2.Hagamos unas queries facilitas:
# Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
# Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
# Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
# Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, MAX(unit_price * quantity) AS Cantidad_gastada FROM order_details GROUP BY order_idORDER BY Cantidad_gastada DESC LIMIT 2")

for i in lista_tablas:
    break
print(lista_tablas)